---
# Baseado no estilo da Microsoft, que já é mais aberto
BasedOnStyle: Microsoft

# Indentação bem visível (4 espaços)
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Desagrupa linhas curtas (força chaves em linhas próprias)
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Garante espaços ao redor de operadores e chaves
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Always
SpaceInEmptyParentheses: false
SpacesInAngles: true

# Evita o agrupamento de inicializações por chaves
Cpp11BracedListStyle: false

# Força a quebra de linha se a linha passar de 90 caracteres
ColumnLimit: 90
...
